<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-C1V4J0C8MB"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-C1V4J0C8MB');
		</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script data-ad-client="ca-pub-1474074673505614" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="/css/screening_index.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a class="HOME" href="/">HOME</a></li>
          <li><a class="NEWS" href="/news" >NEWS</a></li>
          <li><a class="CHAT" href="/chat">CHAT</a></li>
          <li><a class="MAP" href="/map">MAP</a></li>
          <li><a class="SCREENING" href="/screening">SCREENING</a></li>
        </ul>
    </div>
    <div class="blue-box">
      <h1 class="title">COVID-19 Screening Tool</h1>
      <p>
      This tool can help you test out whether their is a probability that you came in contact with corona-virus or not.
      Let’s all look out for each other by knowing our status, trying not to infect others, and reserving care for those in need.
      </p>
      <a href="/questions"><button class="screening-button">Start Screening</button></a>
    </div>
</body>
</html>