<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-C1V4J0C8MB"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-C1V4J0C8MB');
		</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-ad-client="ca-pub-1474074673505614" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/screening_index.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a class="HOME" href="/">HOME</a></li>
          <li><a class="NEWS" href="/news" >NEWS</a></li>
          <li><a class="CHAT" href="/chat">CHAT</a></li>
          <li><a class="MAP" href="/map">MAP</a></li>
          <li><a class="SCREENING" href="/screening">SCREENING</a></li>
        </ul>
    </div>
    <div class="center">
    	<div class="flourish-embed flourish-chart" data-src="story/230114"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-chart" data-src="story/230085"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-map" data-src="story/225979"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-map" data-src="story/229998"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-table" data-src="story/230195"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
</body>
</html>