<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/screening_index.css">
</head>
<body>
    <div class="navbar">
        <ul>
          <li><a class="HOME" href="/">HOME</a></li>
          <li><a class="NEWS" href="/news" >NEWS</a></li>
          <li><a class="CHAT" href="/chat">CHAT</a></li>
          <li><a class="MAP" href="/map">MAP</a></li>
          <li><a class="SCREENING" href="/screening">SCREENING</a></li>
        </ul>
    </div>
    <div class="center">
    	<div class="flourish-embed flourish-chart" data-src="story/230114"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-chart" data-src="story/230085"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-chart" data-src="story/230110"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-map" data-src="story/225979"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-map" data-src="story/229998"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
    	<div class="flourish-embed flourish-table" data-src="story/230195"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
</body>
</html>